<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1" parallel="none">
	<listeners>
		<listener class-name="com.webtest.core.WebTestListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<property>
		<name>userdefaultlisteners</name>
		<value>false</value>
	</property>

	<test name="t2" preserve-order="true">
		<classes>
			<class name="com.webtest.demo.DBShop" />
		</classes>
	</test>
</suite>